<!DOCTYPE html>
<html>
    <head>
        <% include ../includes/header.ejs %>
    </head>
    
    <body>
        <% include ../includes/nav.ejs %>
    <header class="jumbotron text-center">
        <h1>Prove 03</h1>
    </header>
    <div class="container">
        <p>Please click on the "Project 01" link above, or click below to be sent to the project home page.</p>
        <a href="../project01" class="btn btn-primary">Project 01 Home</a>
    </div>

</body>
</html>
