<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1 ><%= title %></h1>
        </div>
    </div>

    <h2 class="mx-auto mb-3 w-50 text-center">Insert New Book</h2>

    <form class="mx-auto w-50 h-50" action="/prove02/addBook" method="POST">
        <h4>Add Required Information</h4>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter book title" name="title" required>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Summary</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter book summary" name="summary" required></textarea>
        </div>

        <h4 class="mt-4">Add Optional Information</h4>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="title" placeholder="Enter author's name" name="author">
        </div>

        <div class="form-group">
            <label for="publish" class="col-form-label">Publication Date</label>
            <input class="form-control" type="date" id="publish" name="publish">
        </div>

        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN" name="isbn" pattern="([0-9]){13}">
            <small>ISBN must be 13 numbers long</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>

</html>